.white {
  color: white;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.model {
  margin-left: 30%;
  margin-top: 15%;
  padding: 45px;
  align-items: center;
  display: table;
  justify-content: center;
  vertical-align: middle;
  height: 30%;
  width: 40%;
}
@media screen and (max-width: 900px) {
  .model {
    margin-left: 5%;
    margin-top: 65%;
    padding: 35px;
    height: 30%;
    width: 90%;
  }
}
